# Don't upload the PID file for the node server
.node-server.pid

# Local runtime data
data/*
!data/.gitkeep

# Local runtime logs
logs/*
!logs/.gitkeep

# Archived local data
archive/

# Ignore the logo concepts image file
images/logo-concepts.png